.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @include mq(mobile) {
        width: 480px;
    }

    @include mq(tablet) {
        width: 768px;
    }

    @include mq(desktop) {
        width: 1440px;
    }
}

.section {
    @include mq(not-desktop) {
        padding-top: 60px;
        padding-bottom: 60px;}

    @include mq(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;}
    }

.section__title {
    @include fonts (28px, 1.3, 500);
    margin-bottom: 32px;
}

.section__subtitle {
    @include fonts (20px, 1.6, 500);
}

.text__bolt {
    @include fonts (null, null, 500);
}

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1440px;
    margin: 0 auto;
}

.main__content {
    padding: 216px 168px 272px 136px;
}