.photo {
    width: 344px;
    padding: 0 0 47px 0;
    border-bottom: solid 1px #CCCCCC;
}

.image__box {
    width: 264px;
    height: 264px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%
}